{%extends "base.html"%}
{% block title %} Welcome || {{block.super}}{% endblock %}

{%block content%}
<h2>Currently this helps in organizing your favorite restaurants</h2>
<h3>But we will transform this into a website about books. It'll be exactly the same.</h3>
<br>
<div class="row rowhome">
  <div class="col-xs12 col-md-6">
    <h1><small>*Actually, there is no 'we' here. Haha. </small>
      <span class="high2">Developing this project is one Accidental Autodidact, Subham Sarangi</span></h1>
  </div>
  <div class="col-xs12 col-md-6">
    <p>Features</p>
    <ol>
      <li>Creating <span class="high">User Profile</span>, friend-able and follow-able, chat-able</li>
      <li>Create <span class="high">lists</span> as a user (public or private)</li>
      <li>Lists will be searchable, comment-able and love-able</li>
      <li>Each user can add, edit, update their own list view</li>
    </ol>
  </div>
</div>

<br>
<p>In the LIST page, instead of Cuisine, there will be <span class="high">Genre</span></p>
<p>Instead of location of the restaurant there will be <span class="high">Name of the Author</span></p>
<h5>The Detail View of Each page will be like the ones in the Derek Sivers website</h5>

{%endblock content%}
